body {
    background-color: #c0c0c0;
}

.adress_inf{
 	line-height: 1.9;
}

.container{
	border: ridge 1px #000;
	margin-top: 1%;
}

.wrapper { 
	margin: 1em auto; 
	max-width: 1800px; 
	width: 95%; 
	font: 12px/1.5 sans-serif; 
	overflow: hidden;
}

table, th, td, tr{
	border: ridge 1px #000;
	margin: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.customer1{
	max-width: 1800px;
}

.overview_customer{
	border: ridge 1px #000;
	margin: 10px;
}